$font-stack: "Inter", sans-serif;
$primary-color: #efbf3f;
$header-color: #0c0d0d;
$secondary-color: #404040;
$tertiary-color: #d7d5ca;

@mixin calendar() {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-column-gap: 1px;
  grid-row-gap: 1px;
}

$theme-colors: (
  "millyell": #efbf3f,
  "milldgrey": #0c0d0d,
  "milllgrey": #d7d5ca,
  "millblack": #404040,
);

// @import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/bootstrap";

* {
  box-sizing: border-box;
  font-family: $font-stack;
  button {
    border: none;
  }
}

// label {
//   display: block;
//   margin-top: 10px;
// }

.main-body {
  background-color: #f7f7f7;
  height: 100vh;
}

// .nav {
//   background-color: $header-color;
// }

// .navbar-dark {
//   .navbar-nav {
//     .nav-link {
//       color: #efbf3f;
//     }
//   }
// }

.background {
  background-color: $secondary-color;
}

.card-container.card {
  max-width: 350px !important;
  padding: 40px 40px;
}

.card {
  background-color: #f7f7f7;
  padding: 20px 25px 30px;
  margin: 0 auto 25px;
  margin-top: 50px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.profile-img-card {
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.planner-page {
  // background-color: red;
  display: flex;
  flex-direction: row;
  // margin: 100px;
}

.calendar-container {
  // margin: auto;
  // padding: 5rem;
  display: flex;
  flex-direction: column;
  // background-color: $header-color;
  // color: $secondary-color;

  .month {
    width: 100%;
    display: flex;
    text-align: center;
    .btn {
      align-self: center;
      border-color: $header-color;
      svg {
        fill: $header-color;
      }
      &:focus {
        outline: none;
      }
      &:hover {
        background-color: $primary-color;
      }
    }
  }
  .month-name {
    width: 100%;
    padding: 10px 0;
  }

  .days-of-week {
    background-color: $primary-color;
    @include calendar();
  }

  .calendar-blocks {
    @include calendar();
    .btn-millyell {
      max-height: 121px;
      height: 120px;
      border-radius: 5px;
      &:hover {
        cursor: pointer;
        background-color: $primary-color;
      }
      &:active {
        color: inherit;
        background-color: lighten($primary-color, 15%);
      }
    }
    .btn-milllgrey {
      max-height: 121px;
      height: 120px;
      border-radius: 5px;
      &:hover {
        cursor: pointer;
        background-color: $primary-color;
      }
      &:active {
        color: inherit;
        background-color: lighten($primary-color, 15%);
      }
    }
  }
  @media (min-width: 0) and (max-width: 500px) {
    .calendar-blocks {
      .btn-millyell {
        height: 100%;
      }
      .btn-milllgrey {
        height: 100%;
      }
      svg {
        display: none;
      }
    }
  }
}

//EVENT FORM STYLES

.form-container {
  position: absolute;
  top: auto;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.5);
}

.exit-button {
  position: absolute;
  right: 0;
  top: 0;
  margin: 2px;
  border: none;
  background-color: rgb(231, 0, 0);
  text-align: center;
  border-radius: 5px;
}

/* .stream-dialog */

.stream-form {
  position: fixed;
  display: flex;
  flex-direction: column;
  z-index: 11;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  width: 60%;
  background-color: white;
  border: solid 2px black;
  padding: 10px;
  width: 40%;
}

@media (min-width: 0px) and (max-width: 900px) {
  .stream-form {
    width: 100%;
  }
}
